#distribution-chart{
    color: white;
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    font-size: 0.7rem;
    visibility: hidden;
}

.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.x path {
	  display: none;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    padding: 5px;
    color:white;
	font-size: 18px;
}

#distri-chart-head{
    text-align: center;
    margin-bottom: 0;
    font-weight: 300;
}