body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img{margin-bottom: -6px; cursor: pointer}
.w3-third img:hover{opacity: 0.6; transition: 0.3s}
.coolButton {
      background-color: rgb(255,255,255,0);
      color: white;
      border: 2px solid white;
      position: relative;
      top: -8vh;
      background-color: black;
       opacity: 0.6;
       font-size: x-large;
     }

.coolButton:hover{background-color: white; color: black; transition: 0.3s}  

a{
    text-decoration: none;
    color: lightsteelblue;
    background-color: transparent;
  -webkit-text-decoration-skip: objects
}
a:active, a:hover {
  outline-width: 0;
  color: lightblue;
  font-weight: bold;
}
