#left-menu {
  position: absolute;
  width: 20%;
  background-color:rgb(5, 13, 24);
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
}

.left-menu-text {
  font-size: 1.7vh;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  padding: 0 2vh;
  color:rgb(146, 145, 145);
  height: 0;
  overflow: hidden;
  transition: .5s ease;
}


.left-menu-link {
  font-size: 1.5vh;
  text-align: center;
  cursor: pointer;
  color: rgb( 56, 87, 114) !important;
  padding: 0.5vh;
  width: 70%;
  border: 1px solid;
  margin: auto;
  margin-top: 2vh;
}
.left-menu-link :hover{
  color: rgb( 109, 125, 140);
}

.section_marker {
  border-bottom: 0.2vh solid rgba(255, 255, 255, 0.25);
  margin-top: 0.8vh;
  margin-bottom: 0vh;
}


.left-menu-header {
  display: block;
  position: relative;
  font-size: 2vh;
  font-weight: 300;
  padding: 1.5vh 2vh;
  color:rgb(165, 165, 165);
  cursor: pointer;
  transition: .3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.left-menu-header:hover{
  color: var(--light_blue);
  padding-left: 4vh;
}

input:checked  + .left-menu-header  {
  font-size: 2.5vh;
  color:var(--light_blue);
  display: block;
}


/*hovering effects*/
.left-menu-header:hover + .left-menu-text {
  height: 15vh;
}
.left-menu-text:hover{
  height: 15vh;
}


/* Hide the browser's default radio button */
.no_show {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

