#legend{
    color: white;
    position: absolute;
    right: 2vw;
    top: 1vw; 
}
#legendBar{
    display: inline-block;
    vertical-align: top;
}
.legendText{
    display: inline-block;
    font-size: 8px;
    vertical-align: top;
    text-align: center;
    padding-top: 3px;
}