#legend {
  color: white;
  padding: 0.3rem 0.3rem 0.5rem 0.3rem;
  margin: 0 1vh;
  font-size: 1rem;
  z-index: 1;
  position: absolute;
  bottom: 0.5rem;
  left: 1.5vh;
  width: 150px;
}

#legendBar {
  display: inline-block;
  vertical-align: middle;
}

#legendHeader {
  display: inline-block;
  font-size: 0.6rem;
  width: inherit;
  text-align: center;
}

.legendMinMax{
  display: inline-block;
  font-size: 0.6rem;
  margin: 3px 0 0.5rem 0;
}

#legendValue_max{
  float: right;
}
#legendValue_min{
  float: left;
  padding-left: 3px;
}


.leaflet-bottom .leaflet-control {
  background-color:rgba(5, 13, 24, 0.392);
  padding: 0.3rem;
  padding-right: 0;
  padding-left: 0.6rem;
}

.legendList {
  font-size:30px;
  line-height: 50%;
}

li span {
  font-size:12px;
  position: relative;
  left: -20px;
  bottom: 4px;
  color: white;
}

.leaflet-control-attribution {
  margin-left: 10rem !important;
}

