#legend{
    color: white;
    position: absolute;
    right: 4rem;
    top: 0.6rem;
}
#legendBar{
    display: inline-block;
    vertical-align: top;
}
.legendText{
    display: inline-block;
    font-size: 0.6rem;
    vertical-align: top;
    text-align: center;
    
}