/* CSS for user settings - radio button section */

.radio_container {
    background: rgba(255, 0, 0, 0.2);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    margin: 1rem;
}

/* radio btn */
input[type="radio"] {
  -webkit-appearance: none;
  width:25px; 
  height:25px;
  outline: none;
  border-radius:100%;
  /*center*/
  text-align: center;
  vertical-align: middle;
}
.radio_container input {
  border: 1px solid white;
  opacity: 0.5;
}
.radio_container input:checked {
  border: 2px solid white;
  opacity: 1;
}

/* affect also the label on check */
input[type="radio"]:checked + label {
  color: white;
  font-style: bold;
  opacity: 1;
} 
input[type="radio"]+ label {
  color: white;
  opacity: 0.5;
} 

label {
  display: inline;
  vertical-align: middle;
}

tr {
  text-align: left; 
}

table {
  border-spacing: 2rem 1rem;
}

.low_opacity {
  opacity: 0.5;
}



