/* CSS for user settings - radio button section */

#radio_container {
    background: rgba(255, 129, 198, 0.4);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 0.7rem;
}

/* radio btn */
input[type="radio"] {
  -webkit-appearance: none;
  width:1.1rem; 
  height:1.1rem;
  outline: none;
  border-radius:100%;
  /*center*/
  text-align: center;
  vertical-align: middle;
}
#radio_container input {
  border: 1px solid white;
  opacity: 0.5;
  padding-bottom: 1px;
  text-align: center;
}
#radio_container input:checked {
  border: 2px solid white;
  opacity: 1;
}

/* affect also the label on check */
input[type="radio"]:checked + label {
  color: white;
  font-style: bold;
  opacity: 1;
} 
input[type="radio"]+ label {
  color: white;
  opacity: 0.5;
} 

input[type="radio"]:hover + label {
  color: white;
  font-style: bold;
  opacity: 1;
} 
#radio_container input:hover {
  border: 2px solid white;
  opacity: 1;
}

label {
  display: block;
  text-align: center;
}

tr {
  text-align: left; 
}
#scenario{
  visibility: collapse;
  opacity: 0;
  border-top: 1px solid white;
}
td {
  text-align: center; 
  width: 60px;
  vertical-align: top;
}

table {
  border-spacing: 1.5rem 0.5rem;
}

.low_opacity {
  opacity: 0.5;
}
.radio_btn{
  margin-bottom: 2px;
}

#toggle {
  width: 13rem;
  height: 2rem;
  margin: 0.5rem auto;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.inner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.inner-container:nth-child(2) {
  background: rgba(255, 129, 198, 0.3);
  color: rgba(255, 255, 255, 1);
  clip-path: inset(0 50% 0 0);
  transition: .3s cubic-bezier(0,0,0,1);
  font-weight: bold; 
  border: 1px solid rgba(255, 255, 255, 1);
 
}

.toggle {
  width: 50%;
  position: absolute;
  height: inherit;
  display: flex;
  box-sizing: border-box;
}

.toggle p {
  margin: auto;
}

.toggle:nth-child(1) {
  right: 0;
}

