
.radio_container {
    background: rgba(200, 54, 54, 0.5);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    margin: 1rem;
}

.radio_btn {
    
}

label { display: block }

td {
  text-align: center;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0 1rem;
}